@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-button {
  @apply flex items-center h-10 gap-4 px-4 text-base font-bold text-white rounded-md outline-none shadow-button focus-within:outline-secondary bg-primary;
}

.primary-button > .icon {
  @apply w-6 h-6;
}

.icon-button {
  @apply transition-colors size-6 text-neutral-light-500 hover:text-white disabled:opacity-50 disabled:pointer-events-none;
}

.icon-button > svg {
  @apply size-full;
}

.card {
  @apply border rounded-md shadow border-neutral-light-100 bg-darkish;
}

.title {
  @apply text-2xl font-bold font-display;
}

.link {
  @apply font-bold text-secondary hover:underline;
}

.spinner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  border-top: 3px solid currentColor;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}